doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
         link(href='styles.css', rel='stylesheet')
    body
        include ..\blocks\header-uikit\header-uikit.pug
        include ..\blocks\colors-type-color\colors-type-color.pug