mixin heading(tag, text)
    div
        div(style="display: inline-block; margin-right: 30px; text-align: right; width: 60px;")
            if tag=='h1'
                span.h1-normal H1
            else if tag=='h2'
                span.h2-normal H2
            else if tag=='h3'
                span.h3-normal H3
            else if tag=='body'
                span.p-normal body
        div(style="display: inline-block; width: 340px;")
            if tag=='h1'
                h1 This one is the sub-section or widget title
            else if tag=='h2'
                h2 Next one is the item title inside widgets title
            else if tag=='h3'
                h3 This is a label or CTA text
            else if tag=='body'
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.