mixin heading(colorname, color, textcolor)
    div
        div(style="width: 29px; height: 30px; display: inline-block; margin-right: 30px;")
            h1(style="display: inline-block;") H1
        div(style="display: inline-block;")
            p This one is the sub-section or widget title