div
    div(style="display: inline-block; margin-right: 30px; text-align: right;")
        h1(style="") H1
    div(style="display: inline-block;")
        p This one is the sub-section or widget title
div
    div(style="display: inline-block; margin-right: 30px; text-align: right; ")
        h1(style="") H2
    div(style="display: inline-block; text-align: right; ") 
        p Next one is the item title inside widgets
div
    div(style="display: inline-block; margin-right: 30px; text-align: right;")
        h1(style="") H3
    div(style="display: inline-block;") 
        p This is a label or CTA text
div
    div(style="display: inline-block; margin-right: 30px; text-align: right;")
        h1(style="") Body
    div(style="display: inline-block;") 
        p 
            |This is the body text which is used for 
            br
            |most of the design, like paragraphs, lists, etc.

ul
    li h1
    li h2
    li h3
    li body