@import "../blocks/logo-uikit/logo-uikit.scss";
@import "../blocks/header-uikit/header-uikit.scss";
@import "../blocks/colors-type-color/colors-type-color.cscc";

body {
    background-color:white;
}

h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}